/* Configure page layout */
.pad-top {
  display: flex;
  margin-top: 48px;
}

.pad-bottom {
  display: flex;
  margin-bottom: 48px;
}

.page {
  display: flex;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
}

.page>.content {
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Configure columns (within a flexbox) */
.content>div {
  width: 48%;
  page-break-inside: never;
}

.full-width {
  flex-basis: 100%;
}

/* Switch to single-column layout when small screens are detected */
@media screen and (max-width: 720px) {
  .content>div {
    width: 100%;
  }
}

@media (screen and (max-width:768px)),
(pointer:none),
(pointer:coarse) {
  .content>div {
    width: 100%;
  }
}

/* Get custom fonts */
@font-face {
  font-family: "Cascadia Code";
  src: url(fonts/CascadiaCodeRegular.ttf)
}

@font-face {
  font-family: "Inter";
  src: url(fonts/InterRegular.otf)
}

/* Configure heading and paragraph styles */
h1,
h2,
h3,
h4 {
  page-break-after: never;
}

h1 {
  font-family: "Cascadia Code", "Lucidia Console", "Courier New", monospace;
  font-weight: bold;
  color: fuchsia;
  font-size: 18pt;
  margin-top: -4pt;
  margin-bottom: 0pt;
}

h2 {
  font-family: "Cascadia Code", "Lucidia Console", "Courier New", monospace;
  font-weight: bold;
  color: black;
  font-size: 14pt;
  margin-top: 12pt;
  margin-bottom: 8pt;
}

h3 {
  font-family: "Cascadia Code", "Lucidia Console", "Courier New", monospace;
  font-weight: bold;
  color: gray;
  font-size: 14pt;
  margin-top: 0pt;
  margin-bottom: 6pt;
  line-height: 14pt;
}

h4 {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 11pt;
  margin-top: -4pt;
  margin-bottom: 4pt;
}

body,
p {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 11pt;
  margin-top: 8pt;
  margin-bottom: 4pt;
}

ul {
  padding-left: 24pt;
}

li {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 11pt;
}

/* Change spacing behaviour slightly when printing.
   The PDF in the GitHub repo for this page was generated with
   Firefox "Save to PDF", 90% scale, 0in top/bottom margins, 
   0.25in left/right margins.
   Backgrounds also need to be enabled for grey fonts */
.print-only {
  visibility: hidden;
}

@media print {
  .print-only {
    visibility: visible;
  }

  .page>.content {
    margin-top: 36pt;
  }

  .pagebreak {
    page-break-before: always;
  }
}